<footer class='position-absolute bottom-0 right-0 border-top'>
  <div class="container d-flex justify-content-between">
    <a class='footer-a' href="#">Company</a>
    <a class='footer-a' href="https://gleeful-moonbeam-e52609.netlify.app/">Designed by Tyler Nenninger</a>

    <div class="">
      <a class='footer-a' href="https://github.com/tylern16"><i class="bi bi-github"></i></a>
      <a class='footer-a' href="https://www.linkedin.com/in/tylernenninger/"><i class="bi bi-linkedin"></i></a>
    </div>
  </div>
</footer>
