<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Edit</h1>
    <form  action="/<%=dog.id%>?_method=PUT" method="POST">
      Name: <input type="text" name="name" value="<%=dog.name%>" ><br>
      Description: <input type="text" name="description" value="<%=dog.description%>" ><br>
      <input type="submit" value="Confirm">
    </form>
  </body>
</html>
