<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%- include ('../partials/navbar.ejs') %>
    <h1>New Engineer</h1>
    <a href="/engineers">Back</a>
    <form action="/engineers" method="POST">
      <input type="text" name="name" value=""><br>
      <input type="submit" value="Create">
    </form>
    <%- include ('../partials/footer.ejs') %>
  </body>
</html>
