<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
    <title></title>
  </head>
  <body>
    <h1>Task Manager</h1>
    <form class="" action="/new" method="get">
          <button type="submit" name="New">New</button>
    </form>
    <table>
      <% for (let i = 0; i < data.length; i++) { %>
        <tr>
          <td><a href="/<%=data[i]._id%>"> <%= data[i].name%></a> </td>
          <td><%=data[i].dueDate%></td>
        </tr>
      <% } %>
    </table>

  </body>
</html>
