<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>New Dog</h1>
    <form action="/home" method="POST">
      Name: <input type="text" name="name" value="" placeholder="Name"><br>
      Description: <input type="text" name="description" value="" placeholder="Description"><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
