<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
    <title></title>
  </head>
  <body>
    <h1>New Task</h1>
    <form action="/" method="POST">
      Name*: <input type="text" name="name" value="" placeholder="Name" required><br>
      Due Date*: <input type="date" name="dueDate" value="" required><br>
      Importance:
      <div class="radio-container">
        <input type="radio" id="importanceChoice1" name="importance" value="High">High
        <input type="radio" id="importanceChoice2" name="importance" value="Medium" checked>Medium
        <input type="radio" id="importanceChoice3" name="importance" value="Low">Low
      </div>
      Descripition: <textarea rows="5" cols="60" name="description" placeholder="enter detail here..."></textarea><br>
      <input type="submit" value="Create">
    </form>
  </body>
</html>
